.build
.vagrant
Packages
*.pkg
KituraServer.xcodeproj/project.xcworkspace/xcuserdata
KituraServer.xcodeproj/xcuserdata
SampleServer.xcodeproj/project.xcworkspace/xcuserdata
SampleServer.xcodeproj/xcuserdata
